.Keyboard {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.Keyboard-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.Keyboard-row-1 {
  margin: 0 5%;
}
.Keyboard-row-2 .Keyboard-key:first-child,
.Keyboard-row-2 .Keyboard-key:last-child {
  min-width: 14%;
}

.Keyboard-key {
  border-radius: 0.35rem;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
  height: var(--key-height);
  background-color: #616161;
  color: #ededed;
  flex: 1;
  margin: 0;
  box-sizing: content-box;
  align-content: center;
  position: relative;
}

@media (max-width: 400px) {
  .Keyboard-key {
    font-weight: normal;
  }
}

.Keyboard-key > p {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto auto;
  top: calc(50% - 1rem / 2);
}

.Keyboard-key-in-position {
  background-color: #538d4e;
}

.Keyboard-key-in-word {
  background-color: #b59f3b;
}

.Keyboard-key-incorrect {
  background-color: #3a3a3c;
}
