.LetterInput {
  border: 3px solid #3a3a3c;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: #d7dadc;
  text-transform: uppercase;
  user-select: none;
  aspect-ratio: 1;
}

@keyframes PopIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.LetterInput:not(:empty) {
  animation-name: PopIn;
  animation-duration: 100ms;
  border-color: #565758;
}

.in-position {
  border: none;
  background-color: #538d4e;
}

.in-word {
  border: none;
  background-color: #b59f3b;
}

.incorrect {
  border: none;
  background-color: #3a3a3c;
}
