.Snackbar {
  position: absolute;
  left: 0;
  right: 0;
  margin: 60px auto;
  z-index: 2;
  width: 200px;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #d7dadc;
  padding: 20px;
  top: var(--header-height);
  visibility: hidden;
}

.Snackbar-visible {
  visibility: visible;
}
/* .Snackbar-disappear {
  transition: opacity 3s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
} */
